@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: "Anek Telugu", sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* border: 2px solid red; */

  border-bottom: 2.5px solid rgb(232, 229, 229);
  font-weight: bolder;
}

.right-navbar {
  display: flex;
  align-items: center;
  margin-right: 5rem;
  padding: 1rem;
  letter-spacing: 1px;
  font-size: 14px;
  /* border: 2px solid red; */
}
.right {
  margin-left: 2rem;
}
.right a {
  display: inline-block;
  margin: 0 1rem;
  /* padding: 0.5rem 1.5rem; */
  /*kaldırdığımız underline ın yeri hala durduğu için tam ortalanmamıştı */
  padding-top: 0.7rem;
  padding-bottom: 0.4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  border: 1px solid black;
  border-radius: 2rem;
  text-decoration: none;
  /* color: black; */
}
.join-now {
  background-color: black;
  color: white;
}
.join-now:hover {
  opacity: 0.7;
}

.sign-in {
  color: black;
}
.sign-in:hover {
  background-color: rgb(244, 244, 244);
}
.find-store a {
  margin: 1rem;
  color: black;
  text-decoration: none;
}
.find-store a i {
  display: inline-block;
  margin-right: 1rem;
  vertical-align: middle;
  font-size: 2rem; /* iconları büyütmek için font-size kullanılır*/
}
.find-store :hover {
  color: green;
  cursor: pointer;
}

.left-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}
.left-navbar img {
  margin: 1rem;
}
.left-navbar a {
  margin: 1.2rem;
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
}

.left-navbar a:hover {
  color: green;
}

.hamburger {
  display: none;
}
